body {
    box-sizing: border-box;
    padding: 0 4%;
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
    display: block;
}

.inner {
    display: flex;
    margin: 0;

}

.side_bar {
    background-color: rgb(32, 172, 232);
    width: 15%;
    height: 500px;
}

.sidebar_button {
    background-color: rgb(32, 172, 232);
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #09729f;
    box-shadow: 1px 1px 1px #05435e;
    margin-bottom: 12px;
}

.sidebar_button:hover {
    background-color: rgba(32, 172, 232, 0.5);
}


.main_content {
    width: 85%;
    background-color: rgb(152, 180, 192);
    padding: 20px 30px;
}

h4 {
    margin-bottom: 5px;
}

p {
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.suspect_inner, .victim_inner{
    padding: 20px 30px;
    background-color: #b1d4e3;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.suspect_wnb_inner, .victim_wnb_inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .suspect_honseki_field {
    display: flex;
} */

.output_suspect_honseki,
.output_suspect_address,
.output_victim_address,
.output_suspect_work,
.output_suspect_name,
.output_suspect_birthday,
.output_victim_work,
.output_victim_name,
.output_victim_birthday
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.output_suspect_honseki p,
.output_suspect_address p,
.output_victim_address p
{
    width: 90%;
}
.output_suspect_work,
.output_suspect_name,
.output_suspect_birthday,
.output_victim_work,
.output_victim_name,
.output_victim_birthday
{
    width: 30%;
}
.output_suspect_work h4,
.output_suspect_name h4,
.output_suspect_birthday h4,
.output_victim_work h4,
.output_victim_name h4,
.output_victim_birthday h4
{
    margin-right: 20px;
}
.output_suspect_work p,
.output_suspect_name p,
.output_suspect_birthday p,
.output_victim_work p,
.output_victim_name p,
.output_victim_birthday p
{
    width: 60%;
}